.user-profile {
  display: block;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  padding-top: 3rem;
}

.profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.btn {
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0069d9;
  color: #fff;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-danger:hover {
  background-color: #c82333;
  color: #fff;
}
