<div *ngIf="isUserRecipesLoaded" xmlns="http://www.w3.org/1999/html">

  <h2>{{recipes.length}} Recipes</h2>

  <mat-card class="recipe-card" *ngFor="let recipe of recipes; let i = index">
    <mat-card-header style="text-align: left">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{recipe.recipeName}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="formatImage(recipe.image)" alt="recipe image">
    <mat-card-content>
      <p>
        {{recipe.description}}
      </p>
    </mat-card-content>

    <div style="text-align: left">
      <p *ngFor="let comment of recipe.comments; let c = index"><span style="font-weight: 500">{{comment.user.username}}</span>: {{comment.commentText}}
      </p>
    </div>

    <mat-card-subtitle align="start">Likes: {{recipe.likes}} <span *ngIf="recipe.likes > 0">by {{recipe.usersLiked}}</span></mat-card-subtitle>
  </mat-card>
</div>
