<div *ngIf="isUserRecipesLoaded || isCategoriesLoaded" xmlns="http://www.w3.org/1999/html">

  <h2>{{recipes.length}} Recipes</h2>

  <mat-card class="recipe-card" *ngFor="let recipe of recipes; let i = index">
    <mat-card-header style="text-align: left">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{recipe.recipeName}}</mat-card-title>
    </mat-card-header>
    <div id="category" *ngFor="let categoryId of recipe.categoryIds" style="margin-right: 9px;">
      {{ categoryNames[categoryId] }}
    </div>
    <img mat-card-image [src]="formatImage(recipe.image)" alt="recipe image">
    <mat-card-content>
      <p>{{recipe.description}}</p>
      <button mat-button (click)="toggleNutritionPanel(recipe.recipeId)">Показать/скрыть информацию о питательных веществах</button>
      <div *ngIf="showNutritionPanel[recipe.recipeId]" class="nutrition-panel">
        <p>Калории: {{recipe.recipeNutrition.calories}}</p>
        <p>Углеводы: {{recipe.recipeNutrition.carbs}}</p>
        <p>Жиры: {{recipe.recipeNutrition.fat}}</p>
        <p>Белки: {{recipe.recipeNutrition.proteins}}</p>
      </div>
    </mat-card-content>

    <div style="text-align: left">
      <p *ngFor="let comment of recipe.comments; let c = index"><span style="font-weight: 500">{{comment.username}}</span>: {{comment.commentText}}
        <button *ngIf="isAdmin" color="accent" mat-button (click)="deleteComment(comment.commentId, i, c)">
          <mat-icon color="accent">clear</mat-icon>
        </button>
      </p>
    </div>

    <mat-card-actions align="end">
      <button *ngIf="isAdmin" color="warn" mat-button (click)="removeRecipe(recipe, i)">
        <mat-icon color="warn">delete</mat-icon>
        Remove Recipe
      </button>
    </mat-card-actions>

    <mat-card-subtitle align="start">Likes: {{recipe.likes}} <span *ngIf="recipe.likes > 0">by {{recipe.usersLiked}}</span></mat-card-subtitle>
  </mat-card>
</div>
